$dark: #164A41;
$medium: #4D774E;
$light: #9DC88D;
$contrast: #F1B24A;
$white: #FFFFFF;

$margin-height: 50px;
$nav-height: 60px;

$header-font: 'Roboto', sans-serif;
$body-font: 'Montserrat', sans-serif;

body {
    font-family: $body-font;

    margin: $margin-height 0 $margin-height 0;
    background: $dark;
    background: linear-gradient(100deg, $dark 0%, $medium 70%, $light 120%);

    position: relative;
    z-index: -1;

    #main {
        display: flex;
        justify-content: right;
        margin: 0 auto 0 auto;
        height: calc(100vh - #{$margin-height} * 2);
        width: 60%;
        min-width: 700px;
        max-width: 900px;
        box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.25);
        background: $light;
        background: linear-gradient(-90deg, $light -100%, $white 100%);

        position: relative;
        transform: skew(-3deg);

        #nav-tag {
            background: linear-gradient(120deg, $dark 0%, $medium 130%);
            width: 25px;
            height: $nav-height;

            position: absolute;
            transform: skewY(30deg) translate(-25px, 32px);
        }

        #nav-expand{
            display:none;
        }

        #nav-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            height: calc(#{$nav-height} - 4px);
            background: linear-gradient(90deg, $medium 0%, $dark 200%);
            border-bottom: $contrast 4px solid;
            margin: 10px 0;
            box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);

            position: absolute;
            transform: translateX(-25px);

            transition: 0.2s ease-in-out;

            #nav-logo {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                min-width: 40px;
                height: 40px;
                font-size: 16pt;
                background: $contrast;
                border-radius: 5px;
                margin-left: 10px;
                color: $white;
                text-shadow: 1.5px 1.5px black;
                border-width: 3px;
                border-style: solid;
                border-image: linear-gradient(-120deg, $light 0%, $dark 100%) 1;
                font-family: $header-font;
                cursor: pointer;
            }

            #nav {
                width: 70%;
                height: 100%;
                transform: skew(3deg);
                display: flex;
                
                .nav-link-container {
                    color: white;
                    font-family: $body-font;
                    text-decoration: none;
                    width: 100px;
                    min-width: 80px;
                    text-align: center;
                    margin: auto;
                    margin-bottom: 5px;
                    text-shadow: 1px 1px black;
                    overflow: hidden;
                }

                .nav-link-container:active {
                    color: lightgray;
                }
            }
        }
    }
}